body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 240, 241);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    text-align: center;
}

.message h2 {
    font-size: 56px;
    color: #540c50;
    margin-bottom: 10px;
}

.message p {
    font-size: 36px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color:  #540c50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8f42a6;
}
